* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 70px;
  background-color: #1a1b21;
  align-items: center;
}

.logo {
  height: 60px;
  margin: 0 1em 0 2em;
}

.logo_title {
  color: #ffff;
  font-size: 1.8rem;
}

.header_text {
  color: #ffff;
  margin: 0 5em 0 auto;
  font-size: 0.85rem;
}

.meme-ctn {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.meme-input {
  width: 250px;
  padding: 0.5em;
  margin: 0 0.5em;
  border: solid rgba(0, 0, 0, 0.199) 0.1em;
  border-radius: 0.5em;
}

#render-btn {
  width: 515px;
  padding: 0.5em;
  margin: 1em 0 0 0;
  border: solid rgba(0, 0, 0, 0.199) 0.1em;
  border-radius: 0.5em;
  background-color: #1a1b21;
  color: #ffff;
  font-size: 1.1rem;
  cursor: pointer;
}

#render-btn:hover {
  background-color: #1a1b21e8;
}

.meme-ctn {
  position: relative;
}

.meme-img {
  max-width: 515px;
  margin: 0.5em 0 0 0;
  border-radius: 0.3em;
}

.meme-text {
  position: absolute;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  padding: 1em 0;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
